.greenblk {
  width: 150px;
  height: 50px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: red;
  text-align: center;
  line-height: 150px;
  color: white;
}